.container-images{
    height: 100%;   width: 100%;
}

.photos{
    width: 100%;    height: 250px;
}

.metadata-image{
    background-color: #8795a2;
}

.metadata-image:hover{
    background-color: #545f68;
    font-weight: bold;
}

.add-tag-btn, .add-description-btn{
    width: 32px;    height: 32px;
    padding: 0;
    border-radius: 50%;
    background-image: url("https://img.icons8.com/color/32/000000/plus--v1.png");
    background-position: center;
    margin-top: auto;
    margin-bottom: auto;
}

.add-tag-btn:hover, .add-description-btn:hover{
    cursor: pointer;
    border: 2px solid #2d9731;
    background-color: #4ec052
}
.add-tag-btn:active, .add-description-btn:active{
    width: 30px;    height: 30px;
}

.delete-tag{
    margin-left: 4px;
    width: 8px; height: 8px;
    display: inline-block;
    background-image: url("https://img.icons8.com/ios/16/000000/cancel.png");
    background-position: center;
}

.delete-tag:hover{
    cursor: pointer;
}

.tags-container-controller, .description-container-controller{
    margin-top: 2%;
}